@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-inter-sans);
    --font-mono: var(--font-geist-mono);
}

/*@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}*/

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-inter-sans), Arial, Helvetica, sans-serif;
}

a {
    @apply text-blue-500;
}
p + p {
    @apply mt-3;
}

h1 {
    @apply text-4xl font-bold mb-10 mt-10;
}
h1 + h2 {
    @apply mt-4;
}
h2 {
    @apply text-xl font-semibold mb-2 mt-8;
}
h3 {
    @apply font-semibold mb-2 mt-4;
}
h3 + pre {
    @apply mt-2;
}

ol {
    @apply list-decimal
}
ul {
    @apply list-disc;
}
ol, ul {
    @apply mb-3;
}
ol li, ul li {
    @apply pl-2 list-item ml-5;
}
li {
    @apply mt-1;
}
ol + p {
    @apply mt-3;
}
table {
    @apply my-4 border border-foreground/20;
}
table th {
    @apply text-left font-semibold py-0.5
}
table td, table th {
    @apply px-1;
}
pre {
    @apply bg-foreground/5 rounded my-4 text-[95%] overflow-x-scroll;
}
code {
    @apply bg-foreground/5 rounded px-0.5 text-[95%];
}
pre code {
    @apply bg-transparent;
}
[aria-hidden=true] {
    display: none;
}
